name: Pre-Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build-linux:
    name: build-linux-${{ matrix.arch.goreleaser }}
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        arch:
          - goreleaser: amd64
          - goreleaser: arm64
    steps:

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - run: git fetch --force --tags

      - uses: actions/setup-go@v5
        with:
          go-version-file: ./go.mod
          cache: true

      - uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: '~> v2'
          args: release --skip=publish --config .goreleaser-linux-${{ matrix.arch.goreleaser }}.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/upload-artifact@v4
        with:
          name: release-builds-linux-${{ matrix.arch.goreleaser }}
          path: ./dist/*.gz

  build-darwin:
    name: build-darwin
    runs-on: macos-14
    steps:

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - run: git fetch --force --tags

      - uses: actions/setup-go@v5
        with:
          go-version-file: ./go.mod
          cache: true

      - uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: '~> v2'
          args: release --skip=publish --config .goreleaser-darwin.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/upload-artifact@v4
        with:
          name: release-builds-darwin
          path: ./dist/*.gz

  build-windows:
    name: build-windows
    runs-on: ubuntu-24.04
    steps:

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - run: git fetch --force --tags

      - uses: actions/setup-go@v5
        with:
          go-version-file: ./go.mod
          cache: true

      - uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: '~> v2'
          args: release --skip=publish --config .goreleaser-windows.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/upload-artifact@v4
        with:
          name: release-builds-windows
          path: ./dist/*.gz

  call-publish-docker-images:
    name: Publish Release Docker Images
    needs:
      - build-linux
    uses: ./.github/workflows/publish-docker-images.yml
    secrets: inherit
    with:
      release-version: ${{ github.ref_name }}

  draft-release:
    runs-on: ubuntu-latest
    needs:
      - build-darwin
      - build-windows
      - call-publish-docker-images
    permissions:
      contents: write  # need write to draft the release
      id-token: write  # need write to get OIDC token for generating attestations
      attestations: write  # need write to create attestations
    steps:
      - uses: actions/checkout@v4

      - run: |
          mkdir -p ./dist

      - name: Fetch Source Archive
        shell: bash
        run: |
          curl -sSLf -o ./dist/source-${{ github.ref_name }}.tar.gz \
            https://api.github.com/repos/${{ github.repository }}/tarball/${{ github.ref_name }}

      - name: Build SBOM from Dependency Graph as SPDX JSON
        shell: bash
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh api \
            -H "Accept: application/vnd.github+json" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            /repos/${{ github.repository }}/dependency-graph/sbom \
            | tee ./dist/sbom-${{ github.ref_name }}.spdx.json

      - uses: actions/download-artifact@v4
        with:
          path: ./dist
          merge-multiple: true
          pattern: release-builds-*

      - name: Create Checksum Files
        shell: bash
        run: |

          ls -lAR ./dist/

          # create checksum file for the attestations
          shasum --algorithm 256 ./dist/* | tee /tmp/attestation-subjects.sha256.txt

          # create checksum file for the release
          cd ./dist/
          shasum --algorithm 256 ./* | tee ./checksums.sha256.txt

      - name: Attest Build Provenance
        uses: actions/attest-build-provenance@v2
        with:
          subject-checksums: /tmp/attestation-subjects.sha256.txt

      - name: Draft Release
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: '~> v2'
          args: release --config .goreleaser-release.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
